{% extends "layout/user.html" %}{% block css %}member{% endblock %}
{% block content %}
{%set messages=handler.get_flashed_messages() %}
{%if messages%}
    <div>
        {% for type, msg in messages%}
            {{msg}}
        {% endfor %}
    </div>
{%endif%}<div class="mypostion">修改密码</div><form action="" method="post">{{xsrf()}}<div class="m_form clearfix">	<div class="item">		<span>旧密码：</span>		<input type="password" class="fl" name="opassword" maxlength=20 size=20>	</div>	<div class="item">		<span>新密码：</span>		<input type="password" class="fl" name="password" maxlength="20" size="20" placeholder="最少6位 最多20位"> 	</div>	<div class="item">		<span>重复密码：</span>		<input type="password" name="apassword" class="fl" maxlength="20" size="20" placeholder="确认新密码">	</div>	<div class="item mt20">		<span>&nbsp;</span>		<input type="submit" class="ico sub_but" name="sub"  value="确认修改">	</div></div>
</form>
{% endblock %}