{% extends "layout/admin.html" %}

{% block title %}修改地区{% endblock %}

{% block content %}
<div class="mb10 fl"><a class="but" href="/admin/areas" >返回地区管理</a></div>
<hr>
<h1>修改地区</h1>
{%set messages=handler.get_flashed_messages() %}
{%if messages%}
    <div class="msg">
        {% for type, msg in messages%}
            <span>{{msg}}</span>
        {% endfor %}
    </div>
{%endif%}

<form action="" method="post">
{{xsrf()}}
        <div class="form-group">
        <label>地区名</label>
        <input type="text" class="input"  name="name" maxlength="30" value="{{area.name}}">
        </div>
        <div class="form-group">
        <input type="submit" name="sub" value="提交" class="sub">
        </div>
</form>
{% endblock %}