{% extends "layout/admin.html" %}

{% block title %}设置管理密码{% endblock %}

{% block content %}

<h1>设置新密码</h1>
{%set messages=handler.get_flashed_messages() %}
{%if messages%}
    <div class="msg">
        {% for type, msg in messages%}
            <span>{{msg}}</span>
        {% endfor %}
    </div>
{%endif%}

<form action="" method="post">

    {{xsrf()}}
<div class="form-group">
	<label>老密码</label>
    <input type="password" class="input" name="opassword" maxlength="20" placeholder="最少6位 最多20位">
</div><div class="form-group">
	<label>新密码</label>
   	<input type="password" class="input" name="password" maxlengt="20" placeholder="最少6位 最多20位">
</div><div class="form-group">
	<label>重复密码</label>
    <input type="password" class="input" name="apassword" maxlength="20" placeholder="确认新密码">
</div><div class="form-group">
    <input type="submit" name="sub" value="提交" class="sub">
</div>
</form>

{% endblock %}