{% extends "layout/site.html" %}

{% block title %}登录{% endblock %}
{% block css %}signin{% endblock %}
{% block js %}sign{% endblock %}
{% block content %}
<div class="blank2"></div>
<div class="wapper"><img src="/style/css/nav_signin.jpg"></div>
<div class="blank10"></div>
<div class="wapper">
    {% if oauth -%}

    <p>

        绑定已有账户。<br>

        <img src="{{oauth['profile_image_url']}}">

        你好 {{oauth['screen_name']}}！

    </p>

    {%-endif %}

    
<div class="free_box">
    <div class="global_popwin clearfix">
        <div class="blank20"></div>
        <div class="global_pop_title login"></div>
        
        <div class="blank20"></div>
        <div class="pop_form">
            <form action="/signin" method="post">
            {{xsrf()}}
            <div class="login_form">
            	<div class="itemword">
                    {%set messages=handler.get_flashed_messages() %}
                    {%-if messages-%}
                        <div>
                            {% for type, msg in messages%}
                                {{msg}}
                            {% endfor %}
                        </div>
                    {%-endif-%}
                </div>
                <div class="item">
                    <span>帐号：</span><input type="text" name="mobile" class="fl">
                </div>
                <div class="item">
                   <span>密码：</span><input type="password" name="password" class="fl">
                </div>
                <div class="item">
                    <span>&nbsp;</span><a class="oc fs14" href="/resetpassword">忘记密码</a>
                </div>
                <div class="itembut">
                    <span>&nbsp;</span><input type="submit" class="titico bsbut" value="登陆">
                </div>
              
                <div class="blank10"></div>
                <div class="itemword">
                    <p class="fs14">使用合作网站帐号登陆</p>
                    <a class="global_pop_title xinlang" href="/oauth/weibo?next=/">新浪</a><a class="global_pop_title zhifubao ml20" href="/oauth/alipay?next=/">支付宝</a>
                </div>
        </div></form>
        <div class="link_form">
            <p class="oc mb20">还没有吉米的厨房的账户？ </p>
            <p><input type="button" class="titico sbut" onclick="toRegister()" value="免费注册"></p>
            </div>
            <div class="blank20"></div>
        </div>
    </div>
</div>

   
</div>
{% endblock %}

