{% extends "layout/site.html" %}

{% block title %}注册{% endblock %}
{% block css %}signin{% endblock %}
{% block js %}sign{% endblock %}
{% block content %}
<div class="blank2"></div>
<div class="wapper"><img src="/style/css/nav_signin.jpg"></div>
<div class="blank10"></div>
<div class="wapper">
    {% if oauth -%}

    <p>

        注册新账户。<br>

        <img src="{{oauth['profile_image_url']}}">

        你好 {{oauth['screen_name']}}！

    </p>

    {%-endif %}
<div class="free_box">
    <div class="global_popwin clearfix">
    	<div class="blank20"></div>
    	<div class="global_pop_title register"></div>
    	<div class="blank20"></div>
    	<div class="pop_form">
        <form action="/signup" method="post">
        	{{xsrf()}}
    		<div class="login_form">
            	<div class="itemword">
                    {%set messages=handler.get_flashed_messages() %}
                    {%-if messages-%}
                        <div>
                            {% for type, msg in messages%}
                                {{msg}}
                            {% endfor %}
                        </div>
                    {%-endif-%}
                </div>
    			<div class="item">
    				<span>手机号码：</span>
                    <input type="text" name="mobile" id="mobile" maxlength="11" class="fl">
    			</div>
    			<div class="item">
    				<span>设置密码：</span>
                    <input type="password" name="password" class="fl">
    			</div>
                <div class="item">
                	<span>确认密码：</span>
                    <input type="password" name="apassword" class="fl">
                </div>
                <div class="item">
                	<span>验证码：</span>
                    <input type="text" name="vcode" maxlength="4" class="fl"><a id="getvcode" class="fl mt5 ml10">获取验证码</a>
                </div>
                <div class="item">
                	<span><input type="checkbox" checked=""></span><a class="oc fs12 agree" href="/p/protocol">同意《吉米的厨房的购物协议》</a>
                </div>
                <div class="itembut">
                	<span>&nbsp;</span><input type="submit" class="titico bsbut" value="注册">
                </div>
    		</div>
            </form>
    		<div class="link_form">
    			<p class="oc mb20">已有吉米的厨房的账户？ </p>
    			<p><input type="button" class="titico sbut" onclick="toLogin()" value="登陆"></p>
    			<p class="mt20">或使用合作网站帐号登录</p>
    			<p class="mt5"><a class="global_pop_title xinlang" href="/oauth/weibo?next=/">新浪</a><a class="global_pop_title zhifubao ml20" href="/oauth/alipay?next=/">支付宝</a></p>
    		</div>
    		<div class="blank20"></div>
    	</div>
    </div>
</div>

{% endblock %}



{% block foot %}

{% endblock %}