.player {
  position: relative;
  max-width: 1100px;
  margin: 0px auto; }
  .player .play_b {
    width: 70px;
    height: 317px;
    display: block;
    background: url("playerico.gif") no-repeat;
    display: none; }
  .player #play_l {
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: 15px center;
    cursor: pointer; }
  .player #play_r {
    position: absolute;
    top: 0px;
    right: 0px;
    background-position: -40px center;
    cursor: pointer; }
  .player #playerbox {
    width: 9600px;
    height: 317px;
    overflow: hidden; }
    .player #playerbox li {
      width: 960px;
      height: 317px;
      float: left;
      display: inline; }

.tit_new {
  background-position: 0px 0px; }

.tit_tuijian {
  background-position: 0px -55px; }

.cake_list {
  width: 975px; }
  .cake_list li {
    width: 308px;
    height: 278px;
    margin: 0px 15px 15px 0px;
    float: left;
    border: 1px solid #dddddd;
    text-align: center;
    padding-top: 30px;
    position: relative; }
    .cake_list li .cakedesc {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 308px;
      height: 100px;
      background: #715830;
      opacity: 0.8;
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      display: none; }
      .cake_list li .cakedesc p {
        color: #ffffff; }
      .cake_list li .cakedesc a {
        color: #ffffff; }
  .cake_list li:hover .cakedesc {
    display: block; }
