.shoppingprocess {
  width: 710px;
  margin: 0px auto;
  height: 80px;
  background: url("shoppingprocess.gif") no-repeat; }

.pro1 {
  background-position: 0px 0px; }

.pro2 {
  background-position: 0px -95px; }

.radio {
  vertical-align: middle;
  margin: -4px 2px 0px 0px;
  margin-right: 4px;
  width: 15px;
  border: 0px; }

.m_table {
  border: 1px solid #cccccc; }
  .m_table .bgdd {
    background: #dddddd; }
  .m_table label {
    line-height: 30px; }
  .m_table img {
    border: 1px solid #ccc;
    padding: 1px;
    width: 110px;
    height: 70px; }
  .m_table .cakenumbox {
    width: 100px;
    height: 30px;
    display: block; }
    .m_table .cakenumbox input {
      width: 48px;
      height: 24px;
      line-height: 18px;
      padding: 2px 6px;
      border: 1px solid #dddddd;
      margin: 0px;
      float: left;
      text-align: center; }
    .m_table .cakenumbox .increase {
      background-position: 8px -277px;
      width: 24px;
      height: 10px;
      float: left;
      border: 1px solid #DDDDDD;
      cursor: pointer;
      margin: 0px 0px 0px 4px; }
    .m_table .cakenumbox .decrease {
      background-position: 8px -287px;
      width: 24px;
      height: 10px;
      float: left;
      border: 1px solid #DDDDDD;
      cursor: pointer;
      margin: 6px 0px 0px 4px; }

.title {
  line-height: 40px;
  background: #f2f2f2;
  display: block;
  padding-left: 40px;
  font-size: 14px;
  font-weight: bold; }
  .title .back {
    font-weight: normal;
    font-size: 12px;
    float: right;
    margin-right: 40px; }

.formbase {
  line-height: 30px;
  font-size: 14px;
  padding: 20px 30px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  color: #666666; }
  .formbase .item {
    width: 100%;
    line-height: 30px;
    float: left;
    margin-bottom: 10px; }
    .formbase .item span {
      width: 110px;
      line-height: 30px;
      float: left;
      display: block;
      text-align: right;
      padding-right: 10px; }
    .formbase .item input {
      line-height: 20px;
      height: 20px;
      margin-top: 2px;
      width: 150px;
      border: 1px solid #dddddd;
      padding: 2px 4px; }
    .formbase .item .radio {
      vertical-align: middle;
      margin: -4px 2px 0px 0px;
      margin-right: 4px;
      width: 15px;
      border: 0px; }
  .formbase .itembut {
    width: 100%;
    height: 30px;
    margin-bottom: 10px; }
    .formbase .itembut span {
      width: 90px;
      float: left;
      display: block;
      text-align: right;
      line-height: 30px;
      height: 30px;
      color: #666666;
      font-size: 14px; }

.borbot0 {
  border-bottom: 0px; }

.ordersubmit {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 380px;
  border: 1px solid #FF7F00;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  background: #ffffff; }
  .ordersubmit .ordersubbut {
    border-top: 1px solid #FF7F00;
    font-size: 12px;
    padding-top: 10px;
    color: #666666;
    margin-top: 20px; }

.blank80 {
  height: 80px;
  clear: both;
  font-size: 1px;
  overflow: hidden; }
